.items {
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 5px 0 5px 5px;
  flex: 0 1 45%;
  border: 1px solid #D6DCE1;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 15px;
  color: #1E3447;
}

.title {
  margin-bottom: 8px;
}