.wrapper {
  margin-bottom: 25px;
}

.button {
  margin-right: 4px;
  width: 33px;
  height: 33px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #E4E7EA;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 140%;
  transition: all 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    position: relative;
    top: 2px;
    left: 0;
    box-shadow: 2px 2px 5px #033258;
  }

  &:active {
    transition: all 0.3s ease
  }
}

.buttonActive {
  margin-right: 4px;
  width: 33px;
  height: 33px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #E4E7EA;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 140%;
  background: #0060AF;
  color: white;
  transition: all 0.3s ease;

  &:hover {
    position: relative;
    top: 2px;
    left: 0;
    box-shadow: 2px 2px 5px #033258;
  }
}

.title {
  margin-bottom: 8px;
}