/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

///* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.wrapper {
  background-color: white;
  background: #FFFFFF;
  box-shadow: 0px -6px 20px rgba(0, 19, 35, 0.4);
  border-radius: 8px;
  display: flex;
}

.main {
  width: 100%;
  background: #F5F6F7;
  border-radius: 8px;
  padding: 25px 34px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerRightSide {
  display: flex;
}

.textFilter {
  position: relative;
  margin-right: 10px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:before {
    content: '👁‍🗨';
    position: absolute;
    top: 0;
    left: -24px;
    width: 15px;
    height: 15px;
  }
}

.withoutFilteringWindow {
  position: relative;
  margin-right: 10px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #a1a1a1;
  transition: all 0.3s ease;

  &:before {
    content: '👁‍🗨';
    position: absolute;
    top: 0;
    left: -24px;
    width: 15px;
    height: 15px;
  }
}

.textReset {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 140%;
  color: #0060AF;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #568ab3;
  }

  &:active {
    position: relative;
    top: 1px;
    left: 0;

  }
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 30px;
  line-height: 111%;
  margin-bottom: 15px;
}